*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131515;
}

a{
    text-decoration: none;
}

.post-h1{
    color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 4rem;
    text-align: center;
    margin-top: 2.5rem;
}

.nav-el{
    color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
    margin-right: 20rem;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

nav div{
    color: #131515;
}

.icon{
    height: 34px;
    width: 38px;
    left: 113px;
    top: 41px;
    border-radius: 0px;
}

/* POST_DETALLE HTML */
.creador_post, .fecha_post{
    color: #A5A5A5;
    font-family: 'Lexend Deca', sans-serif;
    font-size: small;
    font-weight: lighter;
    margin-left: 2rem;
    text-align: center;
}

.post{
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    color: #FFFFFF;
}

.post p:first-letter {
    text-transform: uppercase;
    font-size: 4rem;
}

.crear-post{
    color: #7DE2D1;
    border-color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;

}

.icono-crear{
    padding: 1rem;
    margin: 1rem;
}

.fecha{
    color: #FFFFFF;
    font-weight: bold;
    width: 50px;
    height: 2px;
    font-size: 25px;
    margin-left: 4rem;

}

.titulo-post{
    display: flex;
    height: 50px;
    text-align: center;
    align-items: baseline;
}


.leer_mas{
    text-align: center;
    margin-top: 4rem;
    margin-right: 3rem;
    margin-left: 3rem;
    color: #FFFFFF;
}

.autor, .categoria{
    font-style: italic;
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: small;
    color: #7DE2D1;
}

.navbar-brand{
    color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 30px;
}
/*Registro e Inicio de Sesión*/
.cuerpo-registro{
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.inicioreg{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}
.form-registro h1{
    color:#fff;
}
.form-registro h3{
    color:#A5A5A5;;
}
.iniciocampos{
    display: flex;
    flex-direction: column;
    width: 100%
}
.form-registro input{
    background-color: #2B2C28;
    padding: 15px;
    border-radius: 4pt;
    border: 1px solid #7DE2D1;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form-registro div div{
    display: flex;
    justify-content: space-between;
}
.iniciocampos div input {
    background-color: #7DE2D1;
    color: #000;
    font-weight: bold;
    padding: 10px;
}
.iniciocampos div div{
    color: #fff;
    display: flex;
}
.link-btn-login{
    color: #7DE2D1;
}
@media screen and (max-width:800px){
    .inicioimg{
        display:none;
    }
    .cuerpo-registro{
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    .form-registro div div{
        display: flex;
        flex-direction: column;
    }
}

/*Mi Perfil*/
.pagina-mi-perfil{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.perfil-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #7DE2D1;
}
.img-perfil{
    border-radius: 100%;
    width: 60%;
}
.figcap-perfil{
    color: #fff;
}
.tresfav{
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
.peliculas{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
.peliculas li{
    margin: 2% 5%;
}
.peliculas li img{
    max-width: 100%;
}
@media screen and (max-width:500px){
    .peliculas{
        flex-direction: column;
    }
    .peliculas li{
        margin: 8% 5%;
    }
}