* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131515;
}

a {
    text-decoration: none;
}

.post-h1,
.post-subtitulo {
    color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 4rem;
    text-align: center;
    margin-top: 2.5rem;
}

.nav-el {
    color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
    margin-right: 20rem;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

nav div {
    color: #131515;
}

.icon {
    height: 34px;
    width: 38px;
    left: 113px;
    top: 41px;
    border-radius: 0px;
}

/* POST_DETALLE HTML */
.creador_post,
.fecha_post {
    color: #A5A5A5;
    font-family: 'Lexend Deca', sans-serif;
    font-size: small;
    font-weight: lighter;
    margin-left: 2rem;
    text-align: center;
}

.post {
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    color: #FFFFFF;
}

.post p:first-letter {
    text-transform: uppercase;
    font-size: 4rem;
}

.crear-post {
    color: #7DE2D1;
    border-color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;

}

.icono-crear {
    padding: 1rem;
    margin: 1rem;
}

.fecha {
    color: #FFFFFF;
    font-weight: bold;
    width: 50px;
    height: 2px;
    font-size: 25px;
    margin-left: 4rem;

}

.titulo-post {
    display: flex;
    height: 50px;
    text-align: center;
    align-items: baseline;
}


.leer_mas {
    text-align: center;
    margin-top: 4rem;
    margin-right: 3rem;
    margin-left: 3rem;
    color: #FFFFFF;
}

.autor,
.categoria {
    font-style: italic;
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: small;
    color: #7DE2D1;
}

.navbar-brand {
    color: #7DE2D1;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 30px;
}


/*POST FORM*/
.form-label,
.date-label,
.file-label,
#file {
    color: #FFFFFF;
    opacity: 50%;
}

#file {
    opacity: 100%;
}

.post-form {
    margin: 3rem;
}

.p-fecha {
    margin-top: 1rem;
}

.btn-success {
    background-color: #7DE2D1;
    color: #131515;
    font-weight: bold;
    width: 180px;
    height: 60px;
    left: 325px;
    top: 886px;
    border-radius: 0rem;
}

.form-control {
    border-radius: 0rem;
    border-color: #7DE2D1;
    border-width: 3px;
    background-color: #131515;
    margin-bottom: 1rem;
}

.crea-post_h1 {
    color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 4rem;
    text-align: center;
    margin-top: 2.5rem;
}